


<div id="personal_area">

    @if (!Context.User.Identity.IsAuthenticated)
    {

        <h4 style="margin:2px; float:right;">@Html.ActionLink("Регистрация", "Register", "UserAccount", null, null)</h4>
        <h4 style="margin:2px; float:right;">@Html.ActionLink("Войти", "Login", "UserAccount", null, new { @class = "btn" })</h4>

    }
    else
    {
        <h4 style="margin:2px; float:right">@Html.ActionLink(Context.User.Identity.Name, null, null, null, new { @class = "btn" })</h4>
        <h4 style="margin:2px; float:right">@Html.ActionLink("Выйти", "Logout", "UserAccount", null, new { @class = "btn" })</h4>
    }
</div>
