/*/*/*body {
}



#wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
    height: auto;
    overflow: visible;
    font-family: Tahoma;
    z-index: 0;
}

header {
    margin-right: 10px;
    margin-left: 10px;
    width: 970px;
    height: 537px;
    background-color: #72c7f6;
}

#service_menu {
    width: auto;
    height: 57px;
    background-color: #091526;
}

#personal_area {
    width: auto;
    height: 57px;
    background-color: #8b97a8;
}

#logo {
    position: relative;
    z-index: 0;
}

#logo_ref {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    position: relative;
    text-decoration: none;
    opacity: 0.99;
    z-index: 0;
}

#logo_text {
    /*font style*/
    font-size: 30px;
    color: #ef416e;
    font-weight: bold;
    font-family: Tahoma;
    font-style: oblique;
    float: left;
    margin-top: 60px;
    margin-left: 10px;
    /*text rotation*/
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* для IE9 */
    transform: rotate(-10deg); /* на будущее */
}

#logo_image {
    float: left;
    position: relative;
    margin-left: 300px;
    margin-top: -105px;
}

#store_name {
    position: relative;
    float: right;
    margin-top: -130px;
    margin-right: 650px;
    color: white;
    font-size: 2.5em;
    font-family: cursive;
    font-weight: bold;
}


#search_Form {
    float: left;
    position: relative;
    height: auto;
}

#header_search {
    margin-top: -30px;
    margin-left: 340px;
    width: 600px;
    height: 43px;
    border-radius: 10px;
}


/*Navigation*/

nav {
    position: relative;
}

    nav ul {
        margin-left: -33px;
    }

        nav ul li {
            display: inline-block;
        }


li {
    list-style-type: none;
}


.btn-catalog-menu {
    height: 60px;
    width: 235px;
    background-color: #ff0000; /*#ff0000*/
    border-radius: 5px;
}

#menu_button_text {
    float: left;
    position: relative;
    margin-left: 55px;
    margin-top: 20px;
    color: white;
    font-family: Tahoma;
}

/*Main*/
#main {
    float: left;
    width: 970px;
    height: auto;
    margin-left: 10px;
    background-color: beige;
}

/*Product Category*/
aside {
    float: left;
}

#cataloglist {
    float: left;
    width: 235px;
    height:auto;
    background-color: #72c7f6;
    margin-top:10px;
    margin-left:10px;
    overflow:auto;
}

.productCategory {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Tahoma;
    font-size: 15pt;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.productCategory:hover {
        color: red;
        background-color:azure;
    }

.productCategorySelected:hover {
    color: red;
    background-color: azure;
}
    .productCategorySelected {
    display: block;
    text-decoration: none;
    text-align:center;
    font-family: Tahoma;
    font-size: 15pt;
    color: white;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: red;
}


/*-----------Product Summary PartialView-----------------*/
#productSummCatalogPath {
    position: relative;
    float:left;
    margin-left: 20px;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    font-style:oblique;
    color:red;
}

.ProductItemContainer {
    position: relative;
    float: right;
    width: 700px;
    margin-left: 10px;
    overflow: hidden;
}

.ProductItemContainer div {
        display:table-cell;
        padding-left: 5px;
        margin-bottom: 10px;
    }

#productImageLink {
    float: left;
    width: 100px;
    padding: 0px;
}
/**/
#productImageLink figure{
    padding:inherit;
    margin:0px;

}

#productImageLink img {
        width: 100px;
        padding: 0px;
    }

#productImageLink figcaption {
        width: 100px;
        text-align: center;
        font-size: 10pt;
        text-decoration: none;
        color: red;
    }

/**/
#productPrice {
    width: 300px;
    height: 60px;
    min-height: 60px;
    text-align: left;
    background-color: deepskyblue;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    background-origin: content-box;
    background-clip: padding-box;
}

#productDescription {
    width: 300px;
    height: 160px;
    min-height: 160px;
    text-align: left;
    background-color: bisque;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    background-origin: content-box;
    background-clip: padding-box;
}

/**/
#addToCartBtn{
    height:40px;
    background-color:red;
    border-radius: 5px;
    border-color:silver;
}

#addToCartBtn:hover {

    background-color: white;
    cursor:pointer;

}


/**/
#productPrice {
    width: 200px;
    height: inherit;
    text-align: right;
    font-size: 10pt;
}

/*------------------Product Info Page Style----------------------*/

.productInfoContainer {
    position: relative;
    float: left;
    width: 700px;
    overflow: hidden;
    font-size: medium;
    background-color: azure; /* Цвет фона таблицы */
}

#productInfoPhoto {
    position: relative;
    float: left;
    margin-left: 10px;
}
#productInfoDescription {
    position: relative;
    float: left;
    margin-left: 100px;
    font-weight:bold;
}
/*------------------Shopping Cart Index--------------------------*/
.CartItemsContainer {
    position: relative;
    float: left;
    width: 700px;
    overflow: hidden;
    font-size: small;
    text-align: center;
    background: azure; /* Цвет фона таблицы */
    border: 5px double #000; /* Рамка вокруг таблицы */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #fff; /* Рамка вокруг ячеек */
}


.CartItemsContainer td {
        padding: 5px; /* Поля вокруг текста */
        border: 1px solid black; /* Рамка вокруг ячеек */
    }
    
.cartActionBtn {
        height: 40px;
        background-color: red;
        border-radius: 5px;
        border-color: silver;
    }

.cartActionBtn:hover {
    background-color: white;
    cursor: pointer;
    }

.makeOrderBtn {
    position:relative;
    float:right;
    margin-right: 30px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    border-color: black;
    margin-bottom:10px;
    
}

.makeOrderBtn:hover {
        background-color: silver;
        cursor: pointer;
    }

    .makeOrderBtn a {
        position: relative;
        top: 20%;
        text-align: justify;
        text-decoration: none;
        font-size: medium;
        padding:5px;
    }


/*---------------Checkout page---------------------------*/

.CheckOutContainer {
    position: relative;
    float: left;
    width: 700px;
    overflow: hidden;
    font-size: medium;
    background: azure; /* Цвет фона таблицы */
    border: 5px double #000; /* Рамка вокруг таблицы */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #fff; /* Рамка вокруг ячеек */
}

.clientDataItem input {
    min-width:350px;
}

.clientDataAddress input {
    min-width: 600px;
    text-align:justify;

}



.makeOrderBtn a:hover {
    color: red;
}

.field-validation-error {
    color: #f00;
}


/*------------------------------Login and Logout Pages ----------------------------*/
#personal_area {
    position: relative;
    width:inherit;
    float: right;
    width: inherit;
    overflow: hidden;
    font-size: small;
}

#personal_area a{
    color:darkblue;
}






/*------------Nome Index Page Content style*/
    #content {
        float: left;
        margin-left: 20px;
        margin-bottom: 50px;
    }

#hits_title {
    width: 100%;
    color: #fa0a0a;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3em;
    text-align: center;
}

.sign {
    display: table-cell;
    padding-top: 15px;
}

.hits_ref {
    text-decoration: none;
    color: red;
    font-family: Tahoma;
    font-weight: bold;
}

    .hits_ref img {
        width: 165px;
    }

    .hits_ref figcaption {
        text-align: center;
        width: 160px;
    }

/*---------------------------------------------------*/


 #slider {
        margin-top: 20px;
    }

#slider img {
        width: 675px;
    }


/*Footer*/

footer {
    position: relative;
    float: left;
    margin-left: 10px;
}

#upper_footer {
    background-color: #71cdf3;
    width: 970px;
    height: 250px;
}

.footer_ref {
    display: table-cell;
    color: white;
    text-decoration: none;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 24px;
}

#footer_refs_left {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

#footer_refs_right {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

.footer_ref {
    margin-top: 20px;
    display: block;
    text-align: right;
}

#outer_refs {
    float: right;
    margin-top: 180px;
    margin-right: 50px;
}

.outher_ref img {
    width: 40px;
    height: 40px;
}


/*Lower col*/

#cart_footer {
    background-color: #777272;
    height: 50px;
}

#cart_order {
    padding-top: 5px;
}

#cart_ref img {
    width: 40px;
    height: 40px;
}

    #cart_ref img:hover {
        border-radius:5px;
        background-color:gold;
        box-shadow:0 0 1em gold

    }

.cart_order_class {
    float: left;
    display: inline;
    margin-left: 15px;
}


#cart_ref {
    margin-left: 500px;
}

#products_qty {
    height: 40px;
    width: 60px;
    background-color: azure;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}

#total_price {
    margin-left: 0px;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
}

#make_order_footer {
    height: 40px;
    width: 140px;
    background-color: #ff0000;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: white;
    font-family: Tahoma;
    font-weight: bold;
}

/*Pager*/
.pager {
    position: relative;
    overflow: auto;
    float: right;
    text-align:right;
    border-top: 2px solid red;
    padding: .5em .5em .5em .5em;
    margin-left: 15em;
    width:auto;
}

.pager A {
        font-size: 1.0em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
        text-orientation:sideways;
    }

.pager A:hover {
            background-color: Silver;
            color:red;
        }

.pager A.selected {
            background-color: red;
            color: White;
        }
