
<div class="productInfoContainer" style="margin-left:20px;">
    <h1 style="font-style:italic;">Оплата и Доставка</h1>

    <h2 style="font-style:italic;">Способы оплаты заказа</h2>

    <h3 style="font-style:italic;">Наличными курьеру</h3>

    <h4>Оплата производится курьеру наличными при получении товара. При оплате выдается кассовый чек</h4>

    <h3 style="font-style:italic;">Банковской картой курьеру</h3>

    <h4>
        Оплата производится курьеру банковской картой при получении товара. При оплате выдается кассовый чек.
        Курьеру потребуется предъявить паспорт
    </h4>

    <h3>Дату и время доставки наш менеджер уточнит по телефону в течение 6 часов после оформления заказа</h3>
</div>
