<div id="content" role="main">
    <div id="hits_title">Хиты продаж!!!</div>
    <section role="complementary">
        <div>
            <a href="#" class="hits_ref">
                <figure class="sign">
                    <img src="~/Images/ginzzu_small.png" alt="ginnzu">
                    <figcaption class="info">Ginnzu S4020 White</figcaption>
                </figure>
            </a>
            <a href="#" class="hits_ref">
                <figure class="sign">
                    <img src="~/Images/samsung_small.png" alt="sumsung">
                    <figcaption class="info">Sumsung Galaxy S8</figcaption>
                </figure>
            </a>
            <a href="#" class="hits_ref">
                <figure class="sign">
                    <img src="~/Images/envy_small.png" alt="hp envy">
                    <figcaption class="info">HP Envy x360</figcaption>
                </figure>
            </a>
            <a href="#" class="hits_ref">
                <figure class="sign">
                    <img src="~/Images/dell_latitude_5580_small.png" alt="hp envy">
                    <figcaption class="info">Dell Latitude 5580</figcaption>
                </figure>
            </a>
        </div>
    </section>
    <section role="complementary" id="slider">
        <img src="~/Images/msi_slide.jpg">
    </section>
</div>
